@use 'reboot';
@use 'header';
@use 'button';
@use 'homePage-header';
@use 'link';
@use 'errorPage';
@use 'tagline';
@use 'brandingHeader';

body{
    text-align: center;
}

h1 {
    display: none;
}

header {
    background-color: darkgoldenrod;
}